body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(#eef4ff, #f8fbff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.match-container {
  width: 550px;
  background: white;
  padding: 40px 40px 70px;
  border-radius: 22px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
  text-align: center;
}

/* CIRCLE FOR PLAYERS */
.players-circle {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background: #ffffff;
  
  border: 2px solid #c9d3e2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  font-size: 22px;
  font-weight: 600;
  color: #1c1f26;
}

.players-circle span:nth-child(2) {
  font-size: 16px;
  opacity: 0.6;
}

.start-btn {
  background: #3b82f6;
  color: white;
  padding: 14px 40px;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  margin: 26px 0 26px;
  cursor: pointer;
  transition: 0.2s;
}

.start-btn:hover {
  opacity: 0.9;
}

.thin-line {
  width: 100%;
  height: 1px;
  background: #d7dce6;
  margin-top: 10px;
}

.controls-title {
  margin: 22px 0 32px;
  font-size: 18px;
  font-weight: 700;
  color: #4d5360;
}

.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 20px;
}

.player-box {
  width: 48%;
  text-align: center;
}

.player-box h2 {
  font-size: 17px;
  color: #4a4f58;
  margin-bottom: 22px;
}

/* KEYS */
.keys {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.key-row {
  display: flex;
  gap: 14px;
}

.key {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f6fb;
  border-radius: 12px;
  font-size: 20px;
  color: #333;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* DIVIDER BETWEEN PLAYERS */
.divider {
  width: 1px;
  background: #d9dee8;
  height: 200px;
  margin-top: 10px;
}

/* LABELS BELOW CONTROLS */
.control-label {
  margin-top: 28px;     /* More vertical space */
  font-size: 15px;
  color: #6a6f78;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.control-label.big {
  font-size: 18px;      /* Larger */
  font-weight: 700;     /* Bolder */
}
